In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder

### Loading data into dataframe

In [2]:
swiggy_data=pd.read_csv("C:\\Users\\lenovo\\Downloads\\Swiggy_Dataset.csv",encoding='ISO-8859-1')
swiggy_data.head()

,Unnamed: 0,Restaurant Name,City,Locality,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Rating Stars out of 5,Rating in text,Price range,Votes
0,0,Sultans of Spice,0,20,23,20,1,1,4.1,3,3,314
1,1,The Fatty Bao - Asian Gastro Bar,0,56,1,32,1,1,4.7,1,4,591
2,2,Toit,0,56,16,28,0,0,4.8,1,4,270
3,3,Three Dots & A Dash,0,56,10,20,1,0,3.9,2,3,365
4,4,Bombay Brasserie,0,56,21,22,0,1,4.2,3,3,229

### Exploring data and Performing Data Cleaning and Pre-Processing

In [3]:
# there are no null values in the datasets
print(swiggy_data.dtypes)
print(swiggy_data.isnull().sum())

Unnamed: 0                  int64
Restaurant Name            object
City                        int64
Locality                    int64
Cuisines                    int64
Average Cost for two        int64
Has Table booking           int64
Has Online delivery         int64
 Rating Stars out of 5    float64
Rating in text              int64
Price range                 int64
Votes                       int64
dtype: object
Unnamed: 0                0
Restaurant Name           0
City                      0
Locality                  0
Cuisines                  0
Average Cost for two      0
Has Table booking         0
Has Online delivery       0
 Rating Stars out of 5    0
Rating in text            0
Price range               0
Votes                     0
dtype: int64

In [4]:
swiggy_data['City'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [5]:
swiggy_data['Locality'].unique()

array([ 20,  56,  58,  66,  67,  68,  82,  87, 104, 109, 124,  29,  38,
       110, 111, 112, 114, 115,   3,   9,  11,  40,  48,  64,  70,  84,
        88,  93,  99, 100, 108, 122, 129,   7,   8,  10,  14,  19,  24,
        25,  27,  28,  86,  90, 127,   6,  30,  32,  37, 118, 125, 126,
       136,   0,  18,  43,  51,  52,  59,  65,  77,  89,  23,  31,  34,
        36,  53,  54,  71,  80, 123, 128, 132,   1,  16,  26,  39,  46,
        63,  81,  91,  97, 113, 117, 119,   4,  47,  49,  72, 103, 105,
       106, 107,  13,  21,  22,  41,  50,  60,  74,  76,  78,  79,  96,
       101, 130, 133,   5,  42,  44,  55,  62,  75,  83,  92, 121,  15,
        17,  35,  61,  69,  73,  94,  98, 102, 116, 120, 134, 135,   2,
        12,  33,  45,  57,  85,  95, 131], dtype=int64)

In [6]:
print(swiggy_data.columns)
print(swiggy_data.dtypes)

Index(['Unnamed: 0', 'Restaurant Name', 'City', 'Locality', 'Cuisines',
       'Average Cost for two', 'Has Table booking', 'Has Online delivery',
       ' Rating Stars out of 5', 'Rating in text', 'Price range', 'Votes'],
      dtype='object')
Unnamed: 0                  int64
Restaurant Name            object
City                        int64
Locality                    int64
Cuisines                    int64
Average Cost for two        int64
Has Table booking           int64
Has Online delivery         int64
 Rating Stars out of 5    float64
Rating in text              int64
Price range                 int64
Votes                       int64
dtype: object

 - Now as there are multiple values in 'City', 'Locality', 'Cuisines', 'Rating in text' columns applying LabelEncoder() the 'City', 'Locality', 'Cuisines' columns.
- 'Has Table booking', 'Has Online delivery' columns have two values 'yes' and 'no', so we can use get_dummies() , but in order to keep the processed data small we will be using  LabelEncoder() on 'Has Table booking', 'Has Online delivery' columns.

In [7]:
#label encoding perform on columns with the help of for loop
lb=LabelEncoder()
enc_list=['City', 'Locality', 'Cuisines','Average Cost for two', 'Has Table booking', 'Has Online delivery','Rating in text']
for i in enc_list:
    swiggy_data[i]=lb.fit_transform(swiggy_data[i])
    
# Trained data output

print(swiggy_data.dtypes)
swiggy_data.head()

Unnamed: 0                  int64
Restaurant Name            object
City                        int64
Locality                    int64
Cuisines                    int64
Average Cost for two        int64
Has Table booking           int64
Has Online delivery         int64
 Rating Stars out of 5    float64
Rating in text              int64
Price range                 int64
Votes                       int64
dtype: object

,Unnamed: 0,Restaurant Name,City,Locality,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Rating Stars out of 5,Rating in text,Price range,Votes
0,0,Sultans of Spice,0,20,23,20,1,1,4.1,3,3,314
1,1,The Fatty Bao - Asian Gastro Bar,0,56,1,32,1,1,4.7,1,4,591
2,2,Toit,0,56,16,28,0,0,4.8,1,4,270
3,3,Three Dots & A Dash,0,56,10,20,1,0,3.9,2,3,365
4,4,Bombay Brasserie,0,56,21,22,0,1,4.2,3,3,229

In [11]:
swiggy_data.to_csv("C:\\Users\\lenovo\\Desktop\\CURRENTLY WORKING\\Swiggy_Dataset_PREPROCESSEDDATA_cleaned.csv",index=False,encoding='ISO-8859-1')